.noStyleWe {
  background-color: unset;
  border-radius: unset;
  border: unset;
  color: unset;
  display: unset;
  font-size: unset;
  font-family: unset;
  font-weight: unset;
  font-style: unset;
  margin: unset;
  padding: unset;
  text-transform: unset;
  text-align: unset;
  line-height: unset;
  -webkit-margin-before: unset;
  -webkit-margin-after: unset;
  -webkit-margin-start: unset;
  -webkit-margin-end: unset;
  -webkit-tap-highlight-color: unset;
}

#weContainer {
  margin: auto;
  background-color: white;
}

#sideArea {
  margin-left: 0;
  margin-right: 0.5rem;
  border-top: grey solid 2px;
  padding: 1rem;
  flex: 3;
}

.unfurlable {
  height: 60px;
}

.candidate {
  background-color: white;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
}

.photo {
  height: 50px;
  width: 50px;
  float: left;
}

.nameBox {
  margin: 0 auto;
  border: 2px;
  width: 960px;
  overflow: hidden;  // Magics the div onto the same line as the image
}

.candidateName {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
  margin-top: 0;
  margin-left: 2px;
  padding: 0 0 0 54px;
}
.candidateParty {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 12px;
  padding: 3px 0 0 54px;
  margin-left: 2px;

}

.officeTitle {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  padding: 3px 0 0 54px;
  margin-left: 2px;

}

.furlable {
  display: inline-block;
  margin: 5px;
  width: 100%
}

.buttons {
  width: 95%;
  display: flex;
  justify-content:space-between;
  list-style-type: none;
}

[class^="endorsedButton"], [class^="opposedButton"], [class^="infoButton"] {
  width: unset;
  height: 25px;
  padding: 0 4px;
}

[class^="statementText"], [class^="moreInfoURL"] {
  width: 95%;
  margin: 5px 0 5px 0;
}

.weButton {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 15.4px;
  color: black;
  background-color: white;
  border: 1px solid rgba(46, 60, 93, 0.5);;
  border-radius: 4px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.selectedEndorsed {
  background-color: #60b864;
  color: white;
  position: relative;
  left: 2px;
  top: -2px;
  width: 100px;
}

.selectedOpposed {
  background-color: #f27034;
  color: white;
  position: relative;
  left: 2px;
  top: -2px;
  width: 100px;
}

.selectedInfo {
  background-color: #888888;
  color: white;
  position: relative;
  left: 2px;
  top: -2px;
  width: 100px;
}

.deselected {
  background-color: white;
  color: #235470;
  position: relative;
  left: 2px;
  top: -2px;
  width: 100px;
}

.supportButtonSVG {
  position: absolute;
  height:32px;
  top: -3px;
  left: 1px;
}

.supportButtonText {
  margin-left: 28px;
  font-size: 12px !important;
}

.supportButtonTextNoIcon {
  display: block;
  text-align: center;
  font-size: 12px !important;
}

.bottomButton {
  width: 95%;
}

.signInButton {
  float: right;
  margin: 48px 10px 0 0;
}

.voterPhoto {
  float: right;
  margin: 48px 0 0 0;
  height: 35px;
  border-radius: 4px;
}

[class^="saveButton"] {
  float: right;
  padding: 0 4px;
  margin-right: 5%;
  /*text-transform: uppercase;*/
}

#weFlexGrid {
  display: flex;
  margin: auto -1rem 1rem;
}

#frameDiv {
  flex: 1;
  border: 2px solid black;
  margin-left: 20px;
}

#topMenu {
  display: flex;
  justify-content: left;
}

#orgLogo {
  height: 26px;
  margin: 0 0 5px 5px;
  vertical-align: middle
}

#email {
  height: 20px;
  margin: 44px 0 0 40px;
  padding: unset;
  border-color: rgb(206,212,218);
  border-width: 1px;
  border-radius: 4px;
  width: 10%;
}

#topComment {
  height: 20px;
  margin: 44px 0 0 10px;
  border-color: rgb(206,212,218);
  border-width: 1px;
  border-radius: 4px;
  width: 50%;
}

#newGuide {
  margin: 5px;
  width: 100%;
  border: grey solid 1px;
  padding: 1rem;
}

.orgName {
  width: 100%;
  margin-left: 6px;
}

.orgState {
  width: 10%;
}

.orgComments {
  width: 100%;
  height: 70px;
}

#saveToServer {
  background-color: #29F7C8;
  color: black;
  padding: 2px 5px;
}

