.gridCandidatePhoto img {
  grid-area: photo;
  padding: 0;
}

.gridCandidateName {
  grid-area: candidateName;
  font-size: 16px;
  font-weight: 600;
  overflow-x: hidden;
}

.gridIcon {
  grid-area: rightIcon;
  padding-top: 3px;
  padding-left: unset;
  width: 52px;
}

.gridIcon svg {  /* Bypass style pollution from gunresponsibility.org */
  vertical-align: unset;
}

.gridCandidateParty {
  grid-area: candiateParty;
  font-size: 11px;
  font-weight: 500;
}

.gridOfficeTitle {
  grid-area: officeTitle;
  font-size: 13px;
  font-weight: 600;
}

.gridCandidateDesc {
  grid-area: candidateDesc;
  font-size: 11px;
  width: 109%;
  overflow: hidden;
}

.gridUnfurlableContainer {
  display: grid;
  grid-template-areas:
          'photo candidateName rightIcon'
          'photo candiateParty candiateParty'
          'photo officeTitle officeTitle'
          'candidateDesc candidateDesc candidateDesc';
  grid-template-columns: 50px 230px 56px;
  grid-template-rows: 24px 16px auto auto;
  grid-gap: 1px;
  width: 100%;
  height: 80px;
  border-top: 1px solid grey;
  padding: 4px 0 0 0;
}

.gridUnfurlableContainerDetached {
  display: grid;
  grid-template-areas:
          'photo candidateName rightIcon'
          'photo candiateParty candiateParty'
          'photo officeTitle officeTitle'
          'candidateDesc candidateDesc candidateDesc';
  grid-template-columns: 50px 230px 56px;
  grid-template-rows: 24px 16px auto 30px;
  grid-gap: 1px;
  /*width: 100%;*/
  height: 80px;
  /*border-top: 1px solid grey;*/
  padding: 4px 0 0 0;
}

.gridUnfurlableContainer > div {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  text-align: left;
  font-variant: normal;
  padding-left: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.iconContainer {
  height: 22px;
  border-radius: 3px;
  padding-left: 3px;
  box-sizing:border-box;
}

.thumbIconSVG {
  height:22px;
  width: 22px;
  transform: translate(-2px, -3px);
}
.thumbIconSVGContent {
  height:22px;
  width: 22px;
  transform: translate(-2px, 5px);
}

.thumbOnly, .emptyInfo {
  width: 26px;
  transform: translate(12px, -1px);
}

.commentIconSVG {
  height: 18px;
  transform: translate(23px, -43px);
}

.commentOnly {
  height: 22px;
  width: 28px;
  transform: translate(11px, 0px);
}

.commentIconOnly {
  transform: translate(2px, 0px);
}

.vertLineSVG {
  height: 18px;
  transform: translate(27px, -29px);
}

.warningSvg {
  height: 22px;
  width: 22px;
  transform: translate(10px);
  filter: invert(12%) sepia(85%) saturate(7424%) hue-rotate(0deg) brightness(107%) contrast(112%);  /* red */
}

/* ---- Top Menu Styles ---- */

.topMenuContainer {
  display: grid;
  grid-template-areas:
    'orgIconTop blank1  signInTop'
    'orgTop     sendTop blank2';
  grid-template-columns: 150px  auto 50px;
  grid-template-rows: 60px  auto;
  grid-gap: 1px;
  width: 100%;
  margin: 2px 8px 8px 8px;
}

.gridOrgIcon {
  grid-area: orgIconTop;
  padding-left: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.gridBlank1 {
  grid-area: blank1;
}

.gridBlank2 {
  grid-area: blank2;
}

.gridSend {
  grid-area: sendTop;
  padding-left:8px;
  margin: 0 !important;     /* Bypass style pollution from cadem.org/vote/endorsements */
}

.innerGridSend {
  padding: 6px 10px 8px 8px;
  border: 1px solid grey;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}


.gridSignInTop {
  grid-area: signInTop;
  height: 20px;
  width: 65px;
  transform: translate(-14px, 0px);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.gridOrgName {
  grid-area: orgTop;
  font-size: 16px;
  font-weight: 600;
}

.bareSignIn {
  color: rgb(6, 95, 212);
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  transform: translate(-20px, 10px);
}

#topMenu input{
  margin: 0 0 0 10px;
  padding: 0 0 0 4px;
}

.topCommentLabel {
  transform: translate(2px, 2px);
}

#topComment {
  height: 20px;
  border-color: rgb(206,212,218);
  border-width: 1px;
  border-radius: 4px;
  width: 50%;
  border: inherit;
}

#emailWe {
  height: 20px;
  border-color: rgb(206,212,218);
  border-width: 1px;
  border-radius: 4px;
  width: 10%;
  border: inherit;
}

.sendTopComment {
  transform: translate(2px, 2px);
}

.voterPhoto {
  height: 35px;
  border-radius: 4px;
  margin: 0 12px 0 12px;
}
