.gridCandidatePhoto {
  grid-area: photo;
  padding-left: 4px;
  padding-top: 4px;
}

.gridCandidateName {
  grid-area: candidateName;
  font-size: 16px;
  font-weight: 600;
  overflow-x: hidden;
}

.gridIcon {
  grid-area: rightIcon;
  padding-top: 3px;
  padding-left: unset;
  width: 52px;
}

.gridCandidateParty {
  grid-area: candiateParty;
  font-size: 11px;
  font-weight: 500;
}

.gridOfficeTitle {
  grid-area: officeTitle;
  font-size: 13px;
  font-weight: 600;
  overflow-x: hidden;
}

.gridUnfurlableContainer {
  display: grid;
  grid-template-areas:
          'photo candidateName rightIcon'
          'photo candiateParty candiateParty'
          'photo officeTitle officeTitle';
  grid-template-columns: 50px auto 56px;
  grid-template-rows: 24px 16px auto;
  grid-gap: 1px;
  width: 360px;
  height: 80px;
  border-top: 1px solid grey;
  padding-top: 2px;
}

.gridUnfurlableContainer > div {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  text-align: left;
  font-variant: normal;
  padding-left: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}

.iconContainer {
  height: 22px;
  border-radius: 3px;
  padding-left: 3px;
  box-sizing:border-box;
}

.thumbIconSVG {
  height:22px;
  width: 22px;
  transform: translate(-2px, -3px);
}

.thumbOnly {
  width: 26px;
  transform: translate(12px, -1px);
}

.commentIconSVG {
  height: 18px;
  transform: translate(23px, -46px);
}

.commentOnly {
  height: 22px;
  width: 28px;
  transform: translate(11px, 0px);
}

.commentIconOnly {
  transform: translate(2px, 0px);
}

.vertLineSVG {
  height: 18px;
  transform: translate(27px, -29px);
}

.warningSvg {
  height: 22px;
  width: 22px;
  transform: translate(10px);
  filter: invert(12%) sepia(85%) saturate(7424%) hue-rotate(0deg) brightness(107%) contrast(112%);  /* red */
}
