[hidden] {
  display: none!important
}
.core-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  width: 100%;
  font-weight: 400;
  color: black;
  line-height: 14px;
}

.aliases {
  font-size: 10px;
  padding-bottom: 7px;
}

.removeContentStyles {
  background-color: unset;
  border-radius: unset;
  border: unset;
  color: unset;
  display: unset;
  font-size: unset;
  font-family: unset;
  font-weight: unset;
  font-style: unset;
  margin: unset;
  padding: unset;
  text-transform: unset;
  text-align: unset;
  line-height: unset;
  -webkit-margin-before: unset;
  -webkit-margin-after: unset;
  -webkit-margin-start: unset;
  -webkit-margin-end: unset;
  -webkit-tap-highlight-color: unset;
}

#weContainer {
  margin: auto;
  background-color: white;
}

.unfurlable {
  height: 60px;
}

.candidateWe {
  background-color: white;
  padding-bottom: 6px;
}

.photo {
  height: 50px;
  width: 50px;
  float: left;
}

.nameBox {
  margin: 0 auto;
  border: 2px;
  width: 960px;
  overflow: hidden;  // Magics the div onto the same line as the image
}

.candidateName {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
  margin-top: 0;
  margin-left: 2px;
  padding: 0 0 0 4px;
}

.rightIcon {
  padding-left: 10px;
}

.commentSVG {
  height:24px;
  width: 24px;
}

.supportButtonSVG {
  position: absolute;
  height:32px;
  top: -3px;
  left: 1px;
}

.candidateParty {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 12px;
  padding: 3px 0 0 54px;
  margin-left: 2px;
}

.officeTitle {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  padding: 3px 0 0 54px;
  margin-left: 2px;
}

.furlable {
  display: inline-block;
  margin: 8px 5px 5px 5px;
  width: 100%
}

.buttons {
  width: 95%;
  display: flex;
  justify-content:space-between;
  list-style-type: none;
}

[class^="endorsedButton"], [class^="opposedButton"], [class^="infoButton"] {
  width: unset;
  height: 25px;
  padding: 0 4px;
}
[class^="orgChoiceButton"] {
  width: unset;
  /*height: 25px;*/
  margin: auto;
  padding: 0 4px;
  line-height: 1em;
  height: 2em;
  overflow: hidden;
}

.bottomTd {
  padding-bottom: 6px;
  border-bottom: 1px solid grey;
}

.topTd {
  padding-top: 6px;
}

.weButton {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 15.4px;
  color: black;
  background-color: white;
  padding: 1px 3px;
  border: 1px solid rgba(46, 60, 93, 0.5);
  border-radius: 4px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.selectedEndorsed {
  background-color: #60b864;
  color: white;
  position: relative;
  left: 2px;
  top: -2px;
}

.selectedOpposed {
  background-color: #f27034;
  color: white;
  position: relative;
  left: 2px;
  top: -2px;
}

.selectedInfo {
  background-color: #888888;
  color: white;
  position: relative;
  left: 2px;
  top: -2px;
}

.deselected {
  background-color: white;
  color: #235470;
  position: relative;
  left: 2px;
  top: -2px;
}

[class^="endorseButton"], [class^="opposeButton"], [class^="infoButton"] {
  padding-right: 5px;
  width: unset;
}

.supportButtonText {
  margin-left: 28px;
  font-size: 12px !important;
}

.supportButtonTextNoIcon {
  display: block;
  text-align: center;
  font-size: 12px !important;
}

.signInButton {
  float: right;
  margin: 48px 10px 0 0;
}

.voterPhoto {
  float: right;
  margin: 48px 0 0 0;
  height: 35px;
  border-radius: 4px;
}

[class^="saveButton"] {
  float: right;
  padding: 0 4px;
  margin-right: 5%;
}

#weFlexBox {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 83px);
}

#sideArea {
  border-top: grey solid 2px;
  padding: 5px;
  grid-row: 1;
  overflow-x: hidden !important;
  border-bottom: 1px solid black;
}

#frameDiv {
  border: 1px solid black;
  margin-left: 10px;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
  width: 100%
}

#frame {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: 0;
}

#topMenu {
  display: flex;
  justify-content: left;
  margin: 2px 0 2px 4px;
}

#topMenuDiv {
  margin-left: 10px;
  margin-bottom: 4px;
  align-content: center;
  width: 20%;
}

#orgLogo {
  height: 48px;
  margin: 5px 60px 5px 0;
  vertical-align: middle
}

#emailWe {
  height: 20px;
  margin: 46px 0 10px 50px;
  padding: unset;
  border-color: rgb(206,212,218);
  border-width: 1px;
  border-radius: 4px;
  width: 10%;
}

#topMenu input{
  padding: 0;
  margin: 40px 0 10px 10px;
}

#topComment {
  height: 20px;
  margin: 46px 0 10px 10px;
  border-color: rgb(206,212,218);
  border-width: 1px;
  border-radius: 4px;
  width: 80%;
}

#newGuide {
  margin: 5px;
  width: 100%;
  border: grey solid 1px;
  padding: 1rem;
}

.orgName {
  width: 100%;
  margin-left: 6px;
}

.orgState {
  width: 10%;
}

.orgComments {
  width: 100%;
  height: 70px;
}

#saveToServer {
  background-color: #29F7C8;
  color: black;
  padding: 2px 5px;
}

#orgSelection {
  border-collapse: collapse !important;
  background-color: lightgoldenrodyellow !important;
  border: 1px solid black !important;
  width: 100%;
}

.chooseSubTitles {
  margin: 4px;
}

#sideAreaStatus {
  padding: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  color: black;
}

.createDlgTitle {
  margin-left: 6px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: auto;
}

.bottomButton {
  width: 95%;
}

[class^="openInAdminApp"], [class^="saveButton"], [class^="openInWebApp"], [class^="revealLeft"] {
  margin: 1px 2px 1px 1px;
  width: fit-content;
  font-size: 15px !important;
}
